<mat-accordion>
                <mat-expansion-panel *ngFor = "let post of posts$ | async">
                    <mat-expansion-panel-header>
                       <mat-panel-title>
                       {{post.title}}
                       </mat-panel-title>
                      <mat-panel-description>
                         
                       </mat-panel-description>
                   </mat-expansion-panel-header> 
                   {{post.body}} 
               </mat-expansion-panel>
</mat-accordion>