<mat-card>
    <h1>Sign In</h1>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Email" #Email="ngModel" [class.is-invalid]="Email.invalid && Email.touched"
           [(ngModel)] = "email" name = "email" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >

          <div *ngIf="Email.errors && (Email.invalid || Email.touched)">
              <small class="text-danger" *ngIf="Email.errors.pattern">Please provide a valid email address</small>
            </div>
  </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="password" [(ngModel)] = "password"
                             name = "password"
                             type="password"
                             required #spy
                             #signin = "ngModel">
            <mat-error *ngIf="!(signin.valid || signin.pristine)">
                password is required
            </mat-error>                        
          </mat-form-field>
    
        
        <div >
            <button mat-raised-button color="primary" [disabled]="!signupForm.form.valid">Sign In</button>
        </div>
        
      </div>
    </form>
    </mat-card>