<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <div *ngIf = "(authService.user | async)?.uid"><!--רק משתמש רשום או מחובר יוכל לראות את התפריט-->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <!-- <a mat-list-item routerLink="/classify" routerLinkActive="active">classify</a>
      <a mat-list-item routerLink="/classified-articles" routerLinkActive="active">Classified Articles</a> -->
       <a mat-list-item routerLink="/posts" routerLinkActive="active">Blog posts</a> 
       <a mat-list-item routerLink="/save_posts" routerLinkActive="active">Saved posts</a>
    </mat-nav-list>
  </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
         <!-- signup -->
         <span>{{title}}</span>

        <span class = "spacer"></span>
        <a class = "whitelink" 
          *ngIf = "!(authService.user | async)?.uid" 
          routerLink="/signup" routerLinkActive="active">SignUp</a>
    
          <!-- login -->
        <a class = "whitelink" 
        *ngIf = "!(authService.user | async)?.uid" 
        routerLink="/login" routerLinkActive="active">Login</a>

        <!-- logout -->
        <a class = "whitelink" 
        *ngIf = "(authService.user | async)?.uid" 
        (click) = "authService.Logout()">Logout</a>    


    
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
