
  <mat-accordion>
<mat-expansion-panel  *ngFor="let item of Posts$"><!--מציגים את הנתונים שנמצאים במשתנה Posts$ -->
    <mat-expansion-panel-header>
      <mat-panel-title>
      <b> {{ item.id }}</b> . <b> {{ item.title }}</b>
      <!--item כמו i-->
      </mat-panel-title>
       <mat-panel-description>
       
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ item.body }} </p>
    <div>
          <button   class="change"  color="primary" (click) = "addPostsToFirestore( item.title,item.body,item.id, item.userId)" mat-raised-button >Save to firestore</button> 
        
    </div> 
    <mat-card-actions>
        <button mat-button (click)="addLikes()">LIKE</button> <span *ngIf="likes!=0">{{likes}}</span>
      </mat-card-actions>
  
